.profilePage_user_have
  = link_to  new_medical_history_path do
    .profilePage_user_have_item.btn.btn-light
      %p.title
        既往歴
      %p.new
        登録する
  = link_to  new_medical_history_path do
    .profilePage_user_have_item.btn.btn-light
      %p.title
        バイタル
      %p.new
        登録する
  = link_to new_medical_history_path do
    .profilePage_user_have_item.btn.btn-light
      %p.title
        メモ
      %p.new
        登録する