- if user_signed_in?
  - if current_user.defecation_by?(vital)
    .vital_feces
      = link_to vital_defecations_path(vital), data: { method: 'delete' } do
        = image_tag 'feces-acti.svg'
  - else
    .vital_feces
      = link_to vital_defecations_path(vital), data: { method: 'post' } do
        = image_tag 'feces.svg'