- if user_signed_in?
  - if current_user.defecation_by?(vital)
    .vital_feces
      = link_to vital_defecations_path(vital), data: { method: 'delete' },remote: true do
        = image_tag 'feces-active.svg'
  - else
    .vital_feces
      = link_to vital_defecations_path(vital), data: { method: 'post' },remote: true do
        .dropdown
          = image_tag 'feces.svg',class: 'dropbtn'
          .dropdown-content.fefes_content
            %p 便が出たらクリック