.icon
  - if comment.emotion == "happy"
    %i.far.fa-smile-beam.fa-2x{:style => "color: #ef8bad;"}
  - elsif comment.emotion == "anger"
    %i.far.fa-angry.fa-2x{:style => "color: red;"}
  - elsif comment.emotion == "sad"
    %i.far.fa-tired.fa-2x{:style => "color:blue;"}
  - elsif comment.emotion == "fun"
    %i.far.fa-laugh-squint.fa-2x{:style => "color:orange;"}
  - elsif comment.emotion == "expressionless"
    %i.far.fa-meh.fa-2x{:style => "color:gray;"}
