- vital.comments.each do |comment|
  %li
    .timeline_item
      .timeline_content
        %span.timeline_time= comment.comment_created_at
      .timeline_detail
        = comment.content
        %br
        .d-flex.justify-content-center
          .icon
            - if comment.emotion == "happy"
              %i.far.fa-smile-beam.fa-2x{:style => "color: #ef8bad;"}
            - elsif comment.emotion == "anger"
              %i.far.fa-angry.fa-2x{:style => "color: red;"}
            - elsif comment.emotion == "sad"
              %i.far.fa-tired.fa-2x{:style => "color:blue;"}
            - elsif comment.emotion == "fun"
              %i.far.fa-laugh-squint.fa-2x{:style => "color:orange;"}
            - elsif comment.emotion == "expressionless"
              %i.far.fa-meh.fa-2x{:style => "color:gray;"}

          = link_to '削除' ,vital_comment_path(comment.vital, comment), data: { method: 'delete',confirm:'本当に削除してもよろしいですか？' },remote: true,
          class: "ml-3"