- vital.comments.each do |comment|
  %li
    .timeline_item
      .timeline_content
        %span.timeline_time= comment.comment_created_at
      .timeline_detail
        = comment.content
        %br
        .d-flex.justify-content-center
          = render 'comments/emotion', comment: comment
          = link_to '削除' ,vital_comment_path(comment.vital, comment), data: { method: 'delete',confirm:'本当に削除してもよろしいですか？' },remote: true,
          class: "ml-3"