.container
  = link_to '戻る', :back, class: "btn btn-secondary btn-sm"
  %h5.text-center.my-5 お問い合わせ
  .row.px-2
    .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.border.p-3.mb-4
      = render "form"