<div class="vital">
  <h1 class="vital_title"><%= @vital.vital_created_at %></h1>
  <div class="vital_detail">
    <div class="container">
      <%= render 'vital', vital: @vital %>
    </div>
  </div>
  <div class="vital_content">
    水分記録
  </div>
  <div class="vital_feces">
    <%= image_tag 'feces.svg' %>
  </div>
</div>