.container
  .carriergiver
    = image_tag 'caregiver.png', size: "100x100"
    %div.carriergiver_message
      %p
        在宅介護に寄り添うアプリ
        %br
        『おばばcare』です。
    %div.carriergiver_support.carriergiver_message 
      %p
        日々のvitalを記録するアプリ
        %br
        『おばばcare』です。 
  = render 'vital'