.meal_quantity.dropdown
  = meal.time_period_i18n
  - if meal.meal_quantity == 'one_third'
    =image_tag "one_third.png", size: "70x70",class: 'dropbtn'
  -elsif meal.meal_quantity == 'half'
    =image_tag "half.png", size: "70x70",class: 'dropbtn'
  -elsif meal.meal_quantity == 'complete_eating'
    =image_tag "complete.png", size: "70x70",class: 'dropbtn'
  .dropdown-content.mini
    = link_to '編集する',edit_vital_meal_path(meal.vital,meal),class: "btn btn-sm"
    = link_to '削除する',vital_meal_path(meal.vital,meal),data:{method: 'delete',confirm:'本当に削除してもよろしいですか？'},class: "btn btn-sm"
