%p.card_title.mt-2
  食事量
%p
  - vital.meals.breakfast.each do |meal|
    =render 'meals/meal_quantity',meal: meal
  - vital.meals.lunch.each do |meal|
    =render 'meals/meal_quantity',meal: meal
  - vital.meals.dinner.each do |meal|
    =render 'meals/meal_quantity',meal: meal