@import 'variables';
.btn-log {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  margin-top: 50px;
}




.btn-comment {
  background-color: white;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: bold;
}

.btn-admin{
  background-color: $admin-color;
}



//////////
@mixin circleShadow($vertical) {
  box-shadow:0 0 $vertical rgba(0,0,0,.14),0 $vertical $vertical*2 rgba(0,0,0,.28)
}

.FAB {

  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  z-index: 888;
  &__action-button,
  &__mini-action-button{
    cursor: pointer;
    position: absolute;
  }
  
  &__action-button {
    bottom: 0;
    right: 0;
    
    &:hover {
      .action-button__icon {
        @include circleShadow(8px);
      }
    }
  }
  
  &__mini-action-button {
    bottom: 0;
    right: 49px;
    
    
  }
  
  
}

.action-button {
  &__icon{
    @include circleShadow(4px);
    background-color:  #006e54;
    border-radius: 50%;
    color: #fff;
    padding: 16px;
  }
  
  &__text {
    
    &--hide {
      display: none;
    }
    
    &--show {
      background-color: #212121;
      border-radius: 3px;
      color: #fff;
      right: 75px;
      font-size: 14px;
      font-family: "Helvetica Neue";
      opacity: .8;
      padding: 5px 9px;
      position: absolute;
      top: 2px;
      white-space: nowrap;
    }
  }
}

.mini-action-button {
  
  &__icon {
    @include circleShadow(4px);
    background-color: pink;
    border-radius: 50%;
    color: $text-base-color;
    padding: 8px;
    
    &:hover {
      @include circleShadow(8px);
    }
    
  }
  
  &__text {
    
    &--hide {
      display: none;
    }
    
    &--show {
      background-color: #212121;
      border-radius: 3px;
      color: #fff;
      display: block;
      right: 60px;
      font-size: 14px;
      font-family: "Helvetica Neue";
      opacity: .8;
      padding: 5px 9px;
      position: absolute;
      top: -6px;
      white-space: nowrap;
    }
  }

  &--show {
    position: absolute;
    text-align: center; 
  }
  
  &--hide {
    display: none;
    opacity: 0;
  }
}

@for $i from 1 through 10 {
  .mini-action-button--show:nth-child(#{$i}) {
    bottom: 20px + 60px * $i;
  }
}