@import './variables';
$feces-size: 30px;


.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &_title{
    font-weight: bold;
  }
  &_vital {
    height: 150px;
    position: relative;
    overflow: scroll;
  }

  &_detail{
    display: flex;
  }

  &_content {
    padding: 16px 16px;
    width: 50%;
  }

  &_comment_detail {
    border: 3px solid $primary-color;
    padding: 10px;
    height: 100px;
    overflow: scroll;
  }

  &_feces {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;

    img {
      width: $feces-size;
      height: $feces-size;
    }
  }

  &_day {
    font-weight: bold;
  	position: absolute;
  	z-index: 1;
  	top: -20px;
  	right: -20px;
  	width: 75px;
  	height: 75px;
  	padding: 14.5px 0;
  	text-align: center;
  	color: #ffffff;
  	border-radius: 100%;
  	background: $primary-color;

  	p{
  	  font-size: 16px;
  	}
  }

  //1ヶ月のvital一覧
  &_month{
    height: 500px;
    overflow: scroll;
  }

　//メモ機能
  &_memo{
    height: 400px;
  }

  &_memo-detail{
    height: 300px;
    margin-left: 5%;
    padding: 10px;
    overflow: scroll;
    h2{
      font-weight: bold;
      font-size: 1.4em;
    	line-height: 1em;
    	margin: 0 0 10px 0;
    }
  }

  &_memo-category{
    	display: inline-block;
    	margin: 0 .1em .6em 0;
    	padding: .6em;
    	line-height: 1;
    	color: #0000ee;
    	background-color: #fff;
    	border: 1px solid #0000ee;
    	border-radius: 2em;
      a{
        color: #0000ee;
      }
    &:before {
    	content: "#";
    }

    &:hover {
    	color: #fff;
    	background-color:  #0000ee;
    	a{
    	  color: #fff;
    	}
    }
  }
}

.card_memo-image{
  img{
   weight: 200px;
   height: 200px;
   object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
	.card_memo h2 {
		font-size: 1.3em;
	}
	.card_memo-image{
    img{
     weight: 100px;
     height: 100px;
     object-fit: cover;
    }
	}
}

//重要
.card_important{
  width: 80%;
  padding: 10% 5% 0%;
  margin: 20px auto;
  font-weight: bold;

  &_vitalday{
    font-weight: bold;
  	position: absolute;
  	z-index: 1;
  	top: -10px;
  	left: -10px;
  	width: 75px;
  	height: 75px;
  	padding: 14.5px 0;
  	text-align: center;
  	color: #ffffff;
  	border-radius: 100%;
  	background-color: $primary-color;
  }
  &_comment{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    overflow: scroll;
  }
}

@media screen and (max-width: 480px) {
	.card_important {
    padding: 15% 5% 0%;

    &_comment{
      height: 200px;
    }
  }
}

