@import './variables';
$feces-size: 30px;


.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
  &_vital {
    height: 150px;
    position: relative;
    overflow: scroll;
  }
  
  &_detail{
    display: flex;
  }
  
  &_content {
    padding: 16px 16px;
  }

  // &_comment{
  //   font-size: 22px;
  //   margin-bottom: 8px;
  // }

  &_feces {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;

    img {
      width: $feces-size;
      height: $feces-size;
    }
  }

  &_day {
    font-weight: bold;
  	position: absolute;
  	z-index: 1;
  	top: -20px;
  	right: -20px;
  	width: 75px;
  	height: 75px;
  	padding: 14.5px 0;
  	text-align: center;
  	color: #ffffff;
  	border-radius: 100%;
  	background: $primary-color;

  	p{
  	  font-size: 16px;
  	}
  }

  &_month{
    height: 500px;
    overflow: scroll;
  }

  &_memo{
    height: 200px;
    overflow: scroll;

    &_image{
      img{
       weight: 200px;
       height: 200px;
       object-fit: cover;
      }
    }
  }
  &_memo-detail{
    margin-left: 5%;

    h2{
      font-weight: bold;
      font-size: 1.4em;
    	line-height: 1em;
    	margin: 0 0 10px 0;
    }
  }
}

@media screen and (max-width: 480px) {
	.card_memo h2 {
		font-size: 1.3em;
	}
	.card_memo_image{
    img{
     weight: 100px;
     height: 100px;
     object-fit: cover;
    }
	}
}