//footer
@import './variables';
footer {
  background-color: $primary-color;
  position: sticky;
  top: 100vh;
  width: 100%;

}

.footer{
 
  &_balloon{
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #fff;
    border-radius: 4px;
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -15px;
      border: 15px solid transparent;
      border-right: 15px solid #fff;
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}

//規約
.wrap-content {
  border-radius: 15px;
  margin: 20px 0;
  background: #f9fcfb;
  border: 5px solid $primary-color;
  font-size: 1rem;

  @media screen and (max-width: 767px) {
    font-size: 0.5rem;
  }
} 