@import 'variables';
$image_size: 80px;
.profilePage {
  margin-top: 24px;

  &_user {
    display: flex;
    justify-content: center;
    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
      }
    }

    &_basicInfo {
      margin-left: 16px;
    }

    &_actionButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid $primary-color;
      font-weight: bold;
      padding: 0px 8px;

      a {
        color: $primary-color;
      }
    }

    &_detail {
      display: flex;
      margin-bottom: 8px;
    }

    &_name {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    &_important {
      font-size: 15px;
    }
    
    &_term{
      font-weight: bold;
      color: red;
    }
  }
}

.profilePage_user {

  &_have {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &_item {
      .title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        color: #333A42;
        }

      .new {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9E9E9E;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}