.container.py-3
  .row
    .col-12
      .text-center.footer-text
        // = link_to "利用規約", '/terms', class:"footer-text"
        \/
        
        // \#{link_to "プライバシーポリシー", '/privacy', class:"footer-text"}
        .copyright
          %p Copyright © 2022 おばばcare