.container.py-3
  .row
    .col-12
      .text-center.footer_text
        = image_tag "obaba2.png", size: "100x100"
        %br
        .footer_balloon
          %p
            = link_to "利用規約", terms_path, class:"footer-text"
            \/
            \#{link_to "プライバシーポリシー", privacy_path, class:"footer-text"}
        .copyright
          %p 
            Copyright © 2022 
            = image_tag "title-logo.png", size: "50x50"